@charset "utf-8";
/* CSS Document */
p#demo
{
	color: #A1FF00;
	padding: 10px;
	border-radius: 8px;
}
p.text
{
	font-weight: 600;
	color: #005DAA;
}
p
{
  text-align: justify;
  text-justify: auto;
}
h1.big
{
	font-family: "Archivo";
  font-weight: 700;
  margin: 10vh 0px ; 
	font-size: 50px;
}
h2 
{
  font-family: "Archivo";
  font-weight: thick;
  color: #238eca;
  margin: 0px; 
}
h2.white
{
  font-family: "Archivo";
  font-weight: thick;
  color: white;
  margin: 0px; 
}
h3, h4
{
  font-family: "Archivo";
  font-weight: thick;
  color: #238eca;
  margin: 0px; 
}
img.line
{
	width: 100px;
	height: auto;
	margin-bottom: 20px;
	margin-top: 10px;
}
hr.white
{
	border-bottom: 1px solid white;
}
button.know
{
	padding: 8px 20px 8px 20px;
	color: white;
	font-weight: 500;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 30px;
	background: #FF9600;
	border: none;
	text-decoration: none;
	transition: 0.4s;

}
button.know:hover
{
	background: linear-gradient(90deg, rgba(155,0,215,1) 0%, rgba(13,95,232,1) 100%);
	color: white;
	border: none;
	font-weight: 600;
	transition: 0.4s;

}
/*-------------Navbar------------------*/

.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 99; }
  .navbar-area .navbar {
    position: relative;
    padding: 0; }
    .navbar-area .navbar .navbar-toggler .toggler-icon {
      width: 30px;
      height: 2px;
      background-color: #fff;
      margin: 5px 0;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
    .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 7px; }
    .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
      opacity: 0; }
    .navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      top: -7px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-area .navbar .navbar-collapse {
        position: absolute;
        top: 115%;
        left: 0;
        width: 100%;
        background-color: #f4f6f7;
        z-index: 8;
        padding: 10px 0;
        -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); } }
    @media (max-width: 767px) {
      .navbar-area .navbar .navbar-collapse {
        position: absolute;
        top: 115%;
        left: 0;
        width: 100%;
        background-color: #f4f6f7;
        z-index: 8;
        padding: 10px 0;
        -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
        box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); } }
    .navbar-area .navbar .navbar-nav .nav-item {
      margin: 0 16px;
      position: relative; }
      .navbar-area .navbar .navbar-nav .nav-item a {
        font-size: 11pt;
        line-height: 24px;
        font-weight: 500;
        padding: 26px 0;
        color: #fff;
        position: relative;
        opacity: 0.8;
		 text-decoration: none;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navbar-area .navbar .navbar-nav .nav-item a {
            padding: 10px 0;
            display: block;
            color: #121212; } }
        @media (max-width: 767px) {
          .navbar-area .navbar .navbar-nav .nav-item a {
            padding: 10px 0;
            display: block;
            color: #121212; } }
        .navbar-area .navbar .navbar-nav .nav-item a::before {
          position: absolute;
          content: '';
          width: 40px;
          height: 2px;
          background: white;
          left: 45%;
          margin: 0 2px;
          bottom: 14px;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          -webkit-transform: translate(-50%) scaleX(0);
          -moz-transform: translate(-50%) scaleX(0);
          -ms-transform: translate(-50%) scaleX(0);
          -o-transform: translate(-50%) scaleX(0);
          transform: translate(-50%) scaleX(0); }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .navbar-area .navbar .navbar-nav .nav-item a::before {
              display: none; } }
          @media (max-width: 767px) {
            .navbar-area .navbar .navbar-nav .nav-item a::before {
              display: none; } }
      .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
        opacity: 1;
        color: #fff; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
            color: #121212; } }
        @media (max-width: 767px) {
          .navbar-area .navbar .navbar-nav .nav-item.active > a, .navbar-area .navbar .navbar-nav .nav-item:hover > a {
            color: #121212; } }
        .navbar-area .navbar .navbar-nav .nav-item.active > a::before, .navbar-area .navbar .navbar-nav .nav-item:hover > a::before {
          -webkit-transform: translate(-50%) scaleX(1);
          -moz-transform: translate(-50%) scaleX(1);
          -ms-transform: translate(-50%) scaleX(1);
          -o-transform: translate(-50%) scaleX(1);
          transform: translate(-50%) scaleX(1); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-area .navbar .navbar-btn {
        position: absolute;
        right: 70px;
        top: 7px; } }
    @media (max-width: 767px) {
      .navbar-area .navbar .navbar-btn {
        position: absolute;
        right: 60px;
        top: 7px; } }
    .navbar-area .navbar .navbar-btn li {
      display: inline-block;
      margin-right: 5px; }
      .navbar-area .navbar .navbar-btn li a {
        padding: 10px 16px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        border: 2px solid;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        .navbar-area .navbar .navbar-btn li a.light {
          border-color: #fff; }
          .navbar-area .navbar .navbar-btn li a.light:hover {
            background-color: rgba(255, 255, 255, 0.4); }
        .navbar-area .navbar .navbar-btn li a.solid {
          background-color: #fff;
          border-color: #fff;
          color: #0067f4; }
          .navbar-area .navbar .navbar-btn li a.solid:hover {
            background-color: transparent;
            color: #fff; }
  .navbar-area.sticky {
    background-color: #fff;
    z-index: 999;
    position: fixed;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
    -moz-box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05);
    box-shadow: 0px 10px 25px 0px rgba(18, 18, 18, 0.05); }
    .navbar-area.sticky .navbar .navbar-toggler .toggler-icon {
      background-color: #121212; }
    .navbar-area.sticky .navbar .navbar-nav .nav-item a {
      color: #121212;
      opacity: 0.7; }
      .navbar-area.sticky .navbar .navbar-nav .nav-item a::before {
        background: #0096ff; }
    .navbar-area.sticky .navbar .navbar-nav .nav-item.active, .navbar-area.sticky .navbar .navbar-nav .nav-item:hover {
      color: #121212;
      opacity: 1; }
    .navbar-area.sticky .navbar .navbar-btn li a.light {
      border-color: #0067f4;
      color: #0067f4; }
    .navbar-area.sticky .navbar .navbar-btn li a.solid {
      border-color: #0067f4;
      background-color: #0067f4;
      color: #fff; }

#about
{
	background: #f4f6f7;
	padding: 100px 0px 100px 0px;
  word-wrap: break-word;
}
.vision, .mission
{
	padding: 50px;
	background: white;
	border-radius: 20px;
	-webkit-box-shadow: 9px 10px 16px -11px rgba(171,171,171,0.5);
-moz-box-shadow: 9px 10px 16px -11px rgba(171,171,171,0.5);
box-shadow: 9px 10px 16px -11px rgba(171,171,171,0.5);
	min-height: 350px;
}
.about
{
	margin-bottom: 50px;
}
.moretext, .moretexta {
  display: none;
}
.button
{
	padding: 8px 20px 8px 20px;
	color: black;
	font-weight: 300;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 50px;
	border: solid 2px #238eca;
	text-decoration: none;

}

.button:hover
{
	background: linear-gradient(90deg, rgba(155,0,215,1) 0%, rgba(13,95,232,1) 100%);
	color: white;
	border: none;
	font-weight: 600;
	text-decoration: none;
}
#founder
{
	padding: 100px 0px 100px 0px;
}
#founder .founder .img img
{
	width: 100%;
	height: auto;
	border-radius: 20px;
	margin-bottom: 15px;
}
.founder .img
{
	padding: 30px 30px 0px 30px;
}

.note
{
	padding: 30px;
}


#contact
{
	background-image: url(bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0px 100px 0px;
	color: white;
	font-weight: 500;
}
#contact button
{
	color: black;
	background: white;
	border: none;
	border-radius: 5px;
	padding: 8px 20px 8px 20px;
	margin-top: 20px;
}
input[type="text"], input[type="email"]
{
  padding: 8px;
	border: none;
	color: black;
	background: white;
	border-radius: 6px;
	width: 100%;
	margin: 5px 0px;
}
textarea
{
	padding: 8px;
	border: none;
	color: black;
	background: white;
	border-radius: 6px;
	width: 100%;
	margin: 5px 0px;
}
input[type="submit"]
{
	color: white;
	background: #ff9600;
	border: none;
	border-radius: 5px;
	padding: 8px 20px 8px 20px;
}



#footer
{
	
	background: #252525;
	background-image: url("footer.svg");
	padding: 100px 0px 100px 0px;
	color: white;
}
#footer a
{
	text-decoration: none;
	color: white;
}
.call, .map, .mail
{
	padding-top: 10px;
}
.whatsapp {
  position: fixed;
  bottom: 15px;
  right: 15px;
  
}
.whatsapp img
{
   width: 60px; height: auto;
}
#institutions .header
{
	background: #2971C7;
	padding: 170px 0px 50px 0px;
}
#projects .header
{
	background: #6F19CD;
	padding: 170px 0px 50px 0px;
}
@media (max-width: 767px)
{
	#projects .header, #institutions .header
	{
		padding: 120px 0px 20px 0px;
	}
}
#projects .header a, #institutions .header a
{
	color: white;
}




/*-------------------------institutions--------------------------*/
.about-area {
  padding-top: 80px;
  padding-bottom: 130px;
  position: relative; }
  .about-area .about-title .sub-title {
    font-size: 18px;
    font-weight: 400;
    color: #0067f4;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .about-area .about-title .sub-title {
        font-size: 16px; } }
  .about-area .about-title .title {
    font-size: 30px;
    padding-top: 10px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .about-area .about-title .title {
		  
        font-size: 26px; } }
    @media (max-width: 767px) {
      .about-area .about-title .title {
        font-size: 22px; } }
  .about-area .about-accordion .accordion .card {
    border: 0;
    background: none; }
    .about-area .about-accordion .accordion .card .card-header {
      padding: 0;
      border: 0;
      background: none;
      margin-top: 40px; }
      .about-area .about-accordion .accordion .card .card-header a {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        display: block;
        position: relative;
        padding-right: 20px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .about-area .about-accordion .accordion .card .card-header a {
            font-size: 16px; } }
        @media (max-width: 767px) {
          .about-area .about-accordion .accordion .card .card-header a {
            font-size: 16px; } }
        /*.about-area .about-accordion .accordion .card .card-header a::before {
          content: &#9547;
          position: absolute;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
      .about-area .about-accordion .accordion .card .card-header .collapsed::before {
        content: '\ea5c'; }*/
    .about-area .about-accordion .accordion .card .card-body {
      padding: 20px 20px 0; }
  .about-area .about-image img {
    width: 100%; }

.faq{
	background: white;
	padding: 0px 50px 50px 50px;
	border-radius: 20px;
	-webkit-box-shadow: 9px 10px 16px -11px rgba(171,171,171,0.5);
-moz-box-shadow: 9px 10px 16px -11px rgba(171,171,171,0.5);
box-shadow: 9px 10px 16px -11px rgba(171,171,171,0.5);
}

.card img
{
	height: 15px;
	margin-top: -5px;
}



/*---------------------------------Carosel Caption----------------------------------*/
.slider-content .white{
white-space: nowrap;
  overflow: hidden;
  width: 20em;
  animation: linearwipe infinite 3s steps(1000); 
}
@keyframes linearwipe{ 
  from { width: 0; } 
} 
.slider-content {
  position: relative;
  z-index: 9;
  padding-top: 240px; }
  @media (max-width: 767px) {
    .slider-content {
      padding-top: 100px; } }
  .slider-content .title {
    font-size: 88px;
    line-height: 96px;
    color: #fff;
    font-weight: 700; }
    @media only screen and (min-width: 992px) and (max-width: 1300px) {
      .slider-content .title {
  		padding-top: 50px;
        font-size: 58px;
        line-height: 60px; }
		.slider-content {
  padding-top: 120px;
		}

}
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .slider-content .title {
		  margin-top: 80px;
        font-size: 50px;
        line-height: 50px; }

		.slider-content {
  padding-top: 30px;
		}
		button.know{margin-top: 15px}
}
    @media (max-width: 767px) {
      .slider-content .title {
        font-size: 40px;
		 margin-top: 25px;
        line-height: 45px; } 
		.slider-content
		{
			text-align: center;
		}
		button.know{margin-top: 15px}
		.slider-content h2.white {
    color: #fff;
    font-size: 25px;
    line-height: 24px;
	  font-weight: 100;
	  font-family: "sans-serif";
    margin-top: 16px; 
  animation: linearwipe  1s steps(1000); 
			width: inherit;
}
		
}
  .slider-content h2.white {
    color: #fff;
	  font-weight: 100;
	  font-family: "sans-serif";}
  .slider-content .slider-btn {
    padding-top: 16px; }
    .slider-content .slider-btn li {
      display: inline-block;
      margin: 16px 8px 0; }
      @media (max-width: 767px) {
        .slider-content .slider-btn li {
          margin: 16px 3px 0; } }
      .slider-content .slider-btn li a.rounded-one {
        background-color: #fff;
        border-color: #fff; }
        .slider-content .slider-btn li a.rounded-one:hover {
          background-color: transparent;
          color: #fff; }
      .slider-content .slider-btn li a.rounded-two {
        border-color: #fff; }
        .slider-content .slider-btn li a.rounded-two:hover {
          background-color: #fff;
          color: #0067f4; }

.bannerB{
	display: none;
}


























